---
import Counter from '../components/Counter';
import CounterVue from '../components/CounterVue.vue';
import { HelloComponent } from '../components/hello.component';
import Layout from '../layouts/Layout.astro';
console.log('server');
const message = 'Click!!';
---

<Layout title="Aboutページ">
  <h1>Astroについて</h1>
  <div>
    <button id="btn">click</button>
  </div>
  <Counter client:load></Counter>
  <CounterVue client:load></CounterVue>
  <HelloComponent client:load></HelloComponent>
</Layout>

<script define:vars={{ message }}>
  console.log('client');
  document.getElementById('btn').addEventListener('click', () => {
    alert(message);
  });
</script>